/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset.buttons li.commit {padding: 20px 50px 2px 0; overflow: visible; }
form.formtastic fieldset.inputs li {overflow: visible; }

form.formtastic fieldset > ol > li label { padding-right: 5%; }
form.formtastic fieldset > ol > li > li label { padding-right: 5%;}
form.formtastic fieldset > ol > li.date fieldset ol li label {padding-right: 5%}

form.formtastic fieldset > ol > li.string input { max-width:45%; }
form.formtastic fieldset > ol > li.password input { max-width: 13em; }
form.formtastic fieldset > ol > li.numeric input { max-width:45%; }
form.formtastic fieldset > ol > li.date fieldset ol li label input {max-width:40%; padding-left:20px;}


form.formtastic fieldset > ol > li p.inline-hints { color:#666; margin:0.5em 0 0 200px; }


form.formtastic fieldset > ol > li.text textarea { width:60%; height: 13em;}
form.formtastic .renewal fieldset > ol > li.text textarea { width:60%; height: 8em;}

form.formtastic fieldset > ol > li.radio fieldset ol { display:inline; margin-bottom:10px; }
form.formtastic fieldset > ol > li.radio fieldset ol li { list-style:none; display:inline; padding-right:15px; width:40px; margin:1em 0 0.5em 0; }
form.formtastic fieldset > ol > li.radio fieldset ol li label { list-style:none; display:inline; width:40px; }